
<div class="container mt-5 p-5" >
<div  *ngIf="progress!='100%'" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':progress}"></div>
</div>
<br>
<div  class="card text-white bg-success mb-3">
    <div class="card-body text-center">
        <h4 *ngIf="progress!='100%'" class="card-title">Verifying.. <br></h4>
        <h4 *ngIf="progress=='100%'" class="card-title">Email Verified !! <br></h4>
    </div>
</div>
</div>