<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Chat</a>
</nav>
  
  <div class="row p-0 m-0">
    <div class="col-sm"></div> 
    <div class="col-sm p-5">
      <h2 class="form-signin-heading">Reset Password</h2>
      <br> 
     <span>New Password: </span>
      <label for="inputnewPassword" class="sr-only">New Password</label>
      <input id="inputnewPassword" class="form-control" [(ngModel)]="newPassword" placeholder="New Password" required>
      <br>
      <span>Verify Password: </span>
      <label for="inputverifyPassword" class="sr-only">Verify Password</label>
      <input id="inputverifyPassword" class="form-control" [(ngModel)]="verifyPassword" placeholder="New Password" required>
      <br>
      <span style="font-size:10px">*Minimum 8 characters containing only characters, numeric digits, underscore and first character must be a letter</span>
      <br>
      <button style="margin:20px 0"class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Send</button>
    </div>
    <div class="col-sm"></div>  
  </div>